html {
  width: 100%;
  height: 100%; }

body {
  background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
  font-family: "Roboto", sans-serif;
  line-height: 1.6em; }
  body .uploader {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px; }
    body .uploader .upload-header {
      color: red; }
    body .uploader .step {
      display: flex;
      flex-direction: row;
      min-height: 102px; }
      body .uploader .step .step-heading {
        display: flex;
        flex-direction: row;
        height: 33px;
        color: white;
        cursor: pointer; }
        body .uploader .step .step-heading.active .step-circle {
          background: #E91E63; }
        body .uploader .step .step-heading .step-circle {
          background: #F48FB1;
          width: 32px;
          height: 32px;
          line-height: 32px;
          border-radius: 16px; }
        body .uploader .step .step-heading .step-title {
          line-height: 32px;
          padding-left: 15px; }
      body .uploader .step .line {
        position: absolute;
        border-left: 1px solid white;
        left: 31px;
        bottom: 0px;
        top: 32px; }
      body .uploader .step .step-content {
        display: flex;
        flex-direction: column;
        margin-left: 47px; }
        body .uploader .step .step-content .file-control {
          display: flex;
          justify-content: left; }
          body .uploader .step .step-content .file-control [type="file"] {
            border: 0;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            overflow: hidden;
            padding: 0;
            position: absolute !important;
            white-space: nowrap;
            width: 1px; }
          body .uploader .step .step-content .file-control [type="file"] + label {
            background-color: #000;
            border-radius: 4rem;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;
            font-weight: 700;
            height: 4rem;
            line-height: 4rem;
            padding-left: 2rem;
            padding-right: 2rem;
            transition: background-color 0.3s; }
          body .uploader .step .step-content .file-control [type="file"]:focus + label,
          body .uploader .step .step-content .file-control [type="file"] + label:hover {
            background-color: #f15d22; }
          body .uploader .step .step-content .file-control [type="file"]:focus + label {
            outline: 1px dotted #000;
            outline: -webkit-focus-ring-color auto 5px; }
          body .uploader .step .step-content .file-control [type="file"] + label * {
            pointer-events: none; }
        body .uploader .step .step-content .step-control {
          display: flex;
          justify-content: left;
          margin-top: 10px; }
        body .uploader .step .step-content .btn {
          margin-right: 10px;
          color: #fff !important; }
          body .uploader .step .step-content .btn.btn-bg {
            background: #F48FB1; }
