// Font Family
$body-font: "Roboto";

// Font Weights
$thin: 100;
$light: 300;
$regular: 400;
$semibold: 500;
$bold: 700;
$ultra: 800;

// Base Font
$base-font-family: $body-font, sans-serif;
$base-font-size: 14px;
$base-font-weight: $regular;
$base-line-height: 1.6em;

// Colors
$black: #000000;
$dark-gray: rgba($black, 0.8);
$gray: rgba($black, 0.6);
$light-gray: rgba($black, 0.4);
$lighter-gray: rgba($black, 0.2);
$white: #FFFFFF;
$accent: #4285F4;

// Form Settings
$max-width: 600px;
$max-height: 400px;
$gutters: 24px;

html {
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(45deg,  rgba(66, 183, 245,0.8) 0%,rgba(66, 245, 189,0.4) 100%);
    font-family: $base-font-family;
    line-height: $base-line-height;
    
    .uploader {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        .upload-header {
            color: red;
        }
        .step {
            display: flex;
            flex-direction: row;
            min-height: 102px;
            
            .step-heading {
                display: flex;
                flex-direction: row;

                height: 33px;
                color: white;
                cursor: pointer;
                &.active .step-circle {
                    background: #E91E63;
                }
                .step-circle {
                    background: #F48FB1;
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                    border-radius: 16px;
                }
                .step-title {
                    line-height: 32px;
                    padding-left: 15px;
                }
            }
            .line {
                position: absolute;
                border-left: 1px solid white;
                left: 31px;
                bottom: 0px;
                top: 32px;
            }
            .step-content {
                display: flex;
                flex-direction: column;
                margin-left: 47px;

                .file-control {
                    display: flex;
                    justify-content: left;
                    [type="file"] {
                        border: 0;
                        clip: rect(0, 0, 0, 0);
                        height: 1px;
                        overflow: hidden;
                        padding: 0;
                        position: absolute !important;
                        white-space: nowrap;
                        width: 1px; 
                    }
                    [type="file"] + label {
                        background-color: #000;
                        border-radius: 4rem;
                        color: #fff;
                        cursor: pointer;
                        display: inline-block;
                        font-family: 'Poppins', sans-serif;
                        font-size: 1rem;
                        font-weight: 700;
                        height: 4rem;
                        line-height: 4rem;
                        padding-left: 2rem;
                        padding-right: 2rem;
                        transition: background-color 0.3s;
                      }
                       
                      [type="file"]:focus + label,
                      [type="file"] + label:hover {
                          background-color: #f15d22;
                      }
                       
                      [type="file"]:focus + label {
                          outline: 1px dotted #000;
                          outline: -webkit-focus-ring-color auto 5px;
                      }

                      [type="file"] + label * {
                          pointer-events: none;
                      }
                }
                .step-control {
                    display: flex;
                    justify-content: left;

                    margin-top: 10px;
                }
                .btn {
                    margin-right: 10px;
                    color: #fff !important;
                    
                    &.btn-bg {
                      background: #F48FB1;
                    }
                }
            }
        }
    }

}